<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097712833140-bet1vh94cnutu4d1ktl1024eb61mts8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097712833140-bet1vh94cnutu4d1ktl1024eb61mts8g</string>
	<key>API_KEY</key>
	<string>AIzaSyCYneMkN84IZC-WJTBkabXq3ru5fou3bFs</string>
	<key>GCM_SENDER_ID</key>
	<string>1097712833140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>su.ac.th.plaimee.p.SU-RideUp</string>
	<key>PROJECT_ID</key>
	<string>su-rideup</string>
	<key>STORAGE_BUCKET</key>
	<string>su-rideup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097712833140:ios:5858d82b58233088847721</string>
</dict>
</plist>